<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tamanna's Project{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Tamanna's Project</h1>
        <nav>
            <a href="{% url 'signup' %}" class="nav-link">Sign Up</a>
            <a href="{% url 'login' %}" class="nav-link">Login</a>
            {% if user.is_authenticated %}
                {% if user.user_type == 'doctor' %}
                    <a href="{% url 'create_blog' %}" class="nav-link">Create Blog Post</a>
                    <a href="{% url 'my_blogs' %}" class="nav-link">My Blog Posts</a>
                {% elif user.user_type == 'patient' %}
                    <a href="{% url 'blog_list' %}" class="nav-link">View All Blogs</a>
                {% endif %}
                
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy; {{ now.year }} Tamanna's Project
    </footer>
</body>
</html>


